<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eg">

<head>
  <title>Register</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link  th:href="@{/css/register.min.css}" rel="stylesheet" type="text/css">
  
</head>
<body>



<form th:object="${registerForm}" method="post" action="/register">
  <p>email : <input type="email" th:field="*{email}"></p>
  <div th:errors="*{email}"></div>
  <p>password: <input type="password" th:field="*{firstPw}"></p>
  <div th:errors="*{firstPw}"></div>
  <p>re-password: <input type="password" th:field="*{secondPw}"></p>
  <div th:errors="*{secondPw}"></div>

  <div th:if="${isDiffPw}" th:text="#{different.password}"></div>
  <div>
    <button id="email-validate-btn">validate email</button>
    <div class="email-validate-input">
      <input type="radio" th:field="*{validated}" value="false">
      <input type="radio" th:field="*{validated}" value="true">
    </div>
  </div>

  <button type="submit">submit</button>
  <div th:if="${existMember}" th:text="#{exist.member}"></div>
</form>


  <script th:src="@{/js/validate.js}" type="text/javascript"></script>
  <!-- vendor js -->
  <script th:src="@{/js/vendor/axios.min.js}" type="text/javascript"></script>
</body>

</html>